/* Culori Site

Negru - 212227 - dark
Gri inchis - 6E8387 - primary
Gri deschis - A4B8C4 - secondary
Alb - C8D3D5 - light
Verde - 37843a - success
Verde inchis - #00897B - info


*/


//inport bootstrap



// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here


$dark: #1f2324;
$primary: #2d3335;
$secondary: #565e61;
$light: #d6d3cd;
$success: #37843a;
$info: #747e83;
$danger: #d63a25;
$warning: #c2a500;
$link-color: $info;
$link-hover-color: $light;

$component-active-bg: $success;
$input-btn-focus-color-opacity: .4;

$modal-header-border-color: $secondary;
$modal-footer-border-color: $secondary;

$btn-close-color: $info;
$input-placeholder-color: $light;
$nav-tabs-link-active-color: $light;
$nav-tabs-link-active-bg: transparent;
$nav-link-hover-color: $light;
$nav-tabs-link-active-bg: #00000023;
$nav-tabs-link-active-border-color: transparent transparent transparent $success;
$nav-tabs-link-hover-border-color: transparent transparent transparent $success;
$nav-tabs-border-color: transparent;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";


@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/modal";
// @import "../node_modules/bootstrap/scss/bootstrap.scss";




$utilities: map-merge(
  $utilities,
  (
    "height": map-merge(
      map-get($utilities, "height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "height"), "values"),
          (
            60: 60%,
            80: 80%
          ),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (
            60: 60%,
            70: 70%,
            80: 80%
          ),
        ),
      ),
    ),
  )
);

@import "../node_modules/bootstrap/scss/utilities/api";


//loading screen

.loading-wrapper{
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  background-color: $dark;
}

.loading {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  transform: rotate(45deg);
}
.loading div {
  width: 6px;
  height: 6px;
  background: $success;//#0cf574;
  border-radius: 100%;
  float: left;
  margin-bottom: 12px;
  animation: scaleDot 2s ease infinite;
}
.loading div:not(:nth-child(4n+4)) {
  margin-right: 12px;
}
.loading div:nth-child(1) {
  animation-delay: 0;
}
.loading div:nth-child(2),
.loading div:nth-child(5) {
  animation-delay: 0.1s;
}
.loading div:nth-child(3),
.loading div:nth-child(6),
.loading div:nth-child(9) {
  animation-delay: 0.2s;
}
.loading div:nth-child(4),
.loading div:nth-child(7),
.loading div:nth-child(10),
.loading div:nth-child(13) {
  animation-delay: 0.3s;
}
.loading div:nth-child(8),
.loading div:nth-child(11),
.loading div:nth-child(14) {
  animation-delay: 0.4s;
}
.loading div:nth-child(12),
.loading div:nth-child(15) {
  animation-delay: 0.5s;
}
.loading div:nth-child(16) {
  animation-delay: 0.6s;
}
@-moz-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

//for toasts

@keyframes timer{
  to{width: 100%;}
}

.toast-container{
  z-index: 1999!important;
}

.timer-animation div, button{
  z-index: 2;
}
.timer-animation {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
}

.timer-animation::after{
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.109);
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-radius: 0.25rem;
  animation-name: timer;
  animation-duration: 5.15s;
  
}


.timer-animation:hover::after{
  animation: 0;
}

.active i{
  color: $success;
}